@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Noto+Sans:wght@500&family=Poppins:wght@300&display=swap');


:root{
    --font-san: 'Noto Sans', sans-serif;
    --fon-robot: 'Poppins', sans-serif;
}

h3,p{
    margin: 0;
}

ul{
    list-style: none;
  
}

a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}